body {
    display: flex;
    flex-direction: column; /* Элементы внутри body идут сверху вниз */
    justify-content: center; /* Центрируем по вертикали (т.к. column) */
    align-items: center; /* Центрируем по горизонтали */
    
    min-height: 100vh; /* ВАЖНО: Растягиваем body на всю высоту экрана! */
    margin: 0; /* Убираем стандартные отступы браузера, чтобы не было лишнего скролла */

    background-image: url('bg_for_player_top.png'); 
    background-size: cover; /* Растагивает на весь экран */
    background-position: center;           /* Централизация */
    background-attachment: fixed;        
}

/* 2. Настраиваем контейнер, в который JS добавляет элементы */
#templates-container {
    display: flex;
    flex-direction: column; /* Выстраиваем 5 ваших блоков в колонку друг под другом */
    align-items: center; /* Центрируем блоки внутри контейнера */
    
    width: 100%; /* Позволяет контейнеру не уезжать за края экрана */
    padding: 20px 0; /* Отступы сверху и снизу, чтобы первый блок не прилипал к верху экрана при скролле */
}

.level-info {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-items: left;
    padding: 15px;
    gap: 40px;
    /*border : 3px solid rgb(0, 0, 0);*/

    width: 700px;
    min-width: 700px; 
    max-width: 700px; 

    height: 160px;
    min-height: 160px;
    max-height: 160px;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}

.item-image img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 310px;     /* или другой размер по желанию */
  max-height: 310px;    /* опционально */
  min-width: 310px;
  max-height: 310px;
  object-fit: cover;    /* или contain, если нужно целиком видеть картинку */
}

.item-level-victors {
    white-space: pre-wrap; /* Сохраняет переносы строк и пробелы, переносит текст, если он не влезает в блок */
}

.item-tittle, .item-level-victors{
    overflow-wrap: break-word;
}

.text h1, .text h4 { margin: 8px; }

.lists-panel{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: #2b2a2a;
    width: 100%;
    height: 50px;
    color: rgb(255, 255, 255);
}

.formulas-panel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    background: #2b2a2a;
    color: rgb(255, 255, 255);
}

body > :first-child {
    margin-top: 0px; /* Отступ сверху для первого элемента внутри body */
}

a {
    text-decoration: none;
}

.more-info-about-player{
    display: none;
}

.more-info-about-player{
    flex-direction: column;
    color:rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    text-align: center;
    background-color: rgb(240, 240, 240);
}
.player-info{
    text-align: center
}

hr{
    size: 250px;
    min-width: 250px;
    max-width: 250px;
}

.formulas-links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

lists-panel a, 
.lists-panel a:visited {
    color: white;
}

.formulas-links a, 
.formulas-links a:visited {
    color: white;
}

#main-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; /* Чтобы контент внутри (карточки) остался по центру */
}