body {
    align-items: center;
    justify-items: center;
}

.level-info {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    align-items: center;
    justify-items: center;
    border : 5px solid rgb(255, 0, 0);
}

.item-image img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 160px;     /* или другой размер по желанию */
  max-height: 200px;    /* опционально */
  object-fit: cover;    /* или contain, если нужно целиком видеть картинку */
}