body {
    align-items: center;
    justify-items: center;
}

.level-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 100px;
    border : 3px solid rgb(0, 0, 0);

    width: 1500px;
    min-width: 1500px; 
    max-width: 1500px; 

    height: 200px;
    min-height: 200px;
    max-height: 200px;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item-image img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 160px;     /* или другой размер по желанию */
  max-height: 200px;    /* опционально */
  object-fit: cover;    /* или contain, если нужно целиком видеть картинку */

}
